{%extends "layout.html"%}
{% block body %}
<div class="about">
    <h1>ABOUT US</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis excepturi fugiat ratione tenetur aut
        doloribus
        doloremque facere. Ex ab, debitis aspernatur nemo porro, rerum explicabo soluta quidem impedit repudiandae
        atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis excepturi fugiat ratione tenetur aut
        doloribus
        doloremque facere. Ex ab, debitis aspernatur nemo porro, rerum explicabo soluta quidem impedit repudiandae
        atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis excepturi fugiat ratione tenetur aut
        doloribus
        doloremque facere. Ex ab, debitis aspernatur nemo porro, rerum explicabo soluta quidem impedit repudiandae
        atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis excepturi fugiat ratione tenetur aut
        doloribus
        doloremque facere. Ex ab, debitis aspernatur nemo porro, rerum explicabo soluta quidem impedit repudiandae
        atque.
    </p>
</div>
{% endblock %}