<div class="encabezado">
    <div class="logo-encabezado">
        <figure>
            <img src="https://www.designevo.com/res/templates/thumb_small/blue-shield-and-banner-emblem.png" alt="Logo">
        </figure>
    </div>

    <div class="items-encabezado" role="group">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}"><button type="button" class="btn btn-secondary">Loguot</button></a>
        {% else %}
        <a href="{% url 'login' %}"><button type="button" class="btn btn-secondary">Login</button></a>
        <a href="{%url 'register'%}"><button type="button" class="btn btn-secondary">Registro</button></a>
        {% endif %}
        {% if user.is_superuser %}
        {% else %}
        <a href="{%url 'carrito'%}"><button type="button" class="btn btn-secondary">Carrito</button></a>
        {% endif %}
    </div>
</div>