{%extends "layout.html"%}
{% block body %}
<div class="container mt-5 mb-5">
    <div class="cuerpo-inicio">
        <div class="principales">
            {% for producto in productos %}
            <ul>
                <li style="list-style: none;"><a href="{%url 'product' producto.id %}">
                        <h2>{{producto.titulo}}</h2>
                        <p>{{producto.descripcion}}</p>
                    </a>
                </li>
            </ul>
            {% empty %}
            <p>No hay productos para mostrar! :(</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}